.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 0;
}

.item {
  display: flex;
}

.cover {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 8px;
}

.track {
  font-size: 24px;
}

.content span:last-child {
  font-weight: bold;
}
